<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737299678050-0qsd4u03u03sge8u3ka0lpd3e8h25omq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737299678050-0qsd4u03u03sge8u3ka0lpd3e8h25omq</string>
	<key>API_KEY</key>
	<string>AIzaSyA61aUE97HJ80TJH7iPCycn1v1EU7tkqmY</string>
	<key>GCM_SENDER_ID</key>
	<string>737299678050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kasstechweb.gtax</string>
	<key>PROJECT_ID</key>
	<string>global-tax-app-9bc4a</string>
	<key>STORAGE_BUCKET</key>
	<string>global-tax-app-9bc4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737299678050:ios:a4a44debf497fc55eb623b</string>
</dict>
</plist>