<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="scan"></ion-back-button>
    </ion-buttons>
    <ion-title>RECEIPT DETAILS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="food-details-content">

  <div class="recipes-wrapper">
    <div class="recipes-list">
      <div class="recipe-item">
        <ion-img class="recipe-cover-image" [src]="site_url + data?.image"></ion-img>
        <div class="chef-picture-wrapper box">
            <ion-img class="chef-picture-image" [src]="logo_url != '' ? icon_url + logo_url : './assets/imgs/my-business.png'" [alt]="'logo image'"></ion-img>
        </div>
        <h4 class="recipe-title">{{ data?.name}}</h4>
        <hr class="details-divider">
        <ion-list inset>
          <ion-item>
            Subtotal
            <span slot="end">
              $ {{ data?.amount_before_tax}}</span>
          </ion-item>
          <ion-item>
            GST(5%)
            <span slot="end">$ {{ data?.tax_amount}}</span>
          </ion-item>
          <ion-item>
            Total
            <span slot="end">$ {{ data?.amount_after_tax}}</span>
          </ion-item>
        </ion-list>

      </div>
    </div>


  </div>
</ion-content>
