<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="app/categories/deals"></ion-back-button> -->
    </ion-buttons>
    <ion-title>GLOBAL TAX CORPORATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-details-content">

  <div class="related-deals-wrapper" >
    <h3 class="related-deals-title">Welcome back {{name}}</h3>

    <ion-row class="related-deal"  [routerLink]="['/personal-taxes']">
      <ion-col class="deal-logo-wrapper" size="4">
        <img class="inner-img" src="./assets/imgs/personal.png" alt="personal logo" loading="lazy">
        <!-- <app-aspect-ratio > -->
        <!-- <app-image-shell [src]="deal.logo" [alt]="'deals logo'" class="related-deal-logo" animation="spinner"></app-image-shell> -->
        <!-- </app-aspect-ratio> -->
      </ion-col>
      <ion-col class="deal-info-wrapper" size="8">
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Personal taxes </span>
          <!-- test -->
          <!-- <app-text-shell [data]="deal?.name"></app-text-shell> -->
        </h4>

      </ion-col>
    </ion-row>

    <ion-row class="related-deal"  [routerLink]="['/existing-client']">
      <ion-col class="deal-logo-wrapper" size="4">
        <img class="inner-img" src="./assets/imgs/business.png" alt="personal logo" loading="lazy">
      </ion-col>
      <ion-col class="deal-info-wrapper" size="8">
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Business taxes </span>
        </h4>
      </ion-col>
    </ion-row>

    <ion-row class="related-deal" (click)="openPayment()">
      <ion-col class="deal-logo-wrapper" size="4">
        <img class="inner-img" src="./assets/imgs/payment.png" alt="personal logo" loading="lazy">
      </ion-col>
      <ion-col class="deal-info-wrapper" size="8">
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Make a payment </span>
        </h4>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
