<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="app/categories/deals"></ion-back-button> -->
    </ion-buttons>
    <ion-title>GLOBAL TAX CORPORATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-details-content">

  <div class="related-deals-wrapper" >
    <h3 class="related-deals-title">Welcome back {{name}}</h3>

    <ion-row class="related-deal"  [routerLink]="['/personal-taxes']">

      <ion-col class="deal-logo-wrapper ion-activatable" size="4">
        <ion-ripple-effect></ion-ripple-effect>
        <img class="inner-img" src="./assets/imgs/personal.png" alt="personal" loading="lazy">
        <!-- <app-aspect-ratio > -->
        <!-- <app-image-shell [src]="deal.logo" [alt]="'deals logo'" class="related-deal-logo" animation="spinner"></app-image-shell> -->
        <!-- </app-aspect-ratio> -->
      </ion-col>
      <ion-col class="deal-info-wrapper ion-activatable" size="8">
        <ion-ripple-effect></ion-ripple-effect>
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Personal taxes </span>
          <!-- test -->
          <!-- <app-text-shell [data]="deal?.name"></app-text-shell> -->
        </h4>

      </ion-col>
    </ion-row>

    <ion-row class="related-deal ion-activatable"  [routerLink]="['/business-taxes']">
      <ion-col class="deal-logo-wrapper" size="4">
        <ion-ripple-effect></ion-ripple-effect>
        <img class="inner-img" src="./assets/imgs/business.png" alt="business" loading="lazy">
      </ion-col>
      <ion-col class="deal-info-wrapper ion-activatable" size="8">
        <ion-ripple-effect></ion-ripple-effect>
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Business taxes </span>
        </h4>
      </ion-col>
    </ion-row>

    <ion-row class="related-deal" (click)="openPayment()">
      <ion-col class="deal-logo-wrapper ion-activatable" size="4">
        <ion-ripple-effect></ion-ripple-effect>
        <img class="inner-img" src="./assets/imgs/payment.png" alt="payment" loading="lazy">
      </ion-col>
      <ion-col class="deal-info-wrapper ion-activatable" size="8">
        <ion-ripple-effect></ion-ripple-effect>
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Make a payment </span>
        </h4>
      </ion-col>
    </ion-row>

    <ion-row class="related-deal" (click)="openBooking()">
      <ion-col class="deal-logo-wrapper ion-activatable" size="4">
        <ion-ripple-effect></ion-ripple-effect>
        <img class="inner-img" src="./assets/imgs/booking.png" alt="booking" loading="lazy">
      </ion-col>
      <ion-col class="deal-info-wrapper ion-activatable" size="8">
        <ion-ripple-effect></ion-ripple-effect>
        <h4 class="related-deal-title">
          <span class="app-text-shell"> Book an appointment </span>
        </h4>
      </ion-col>
    </ion-row>

    <ion-row (click)="openPrivacy()">
      <ion-col>
        <div class="ion-text-center">
<!--        <ion-ripple-effect></ion-ripple-effect>-->
<!--        <img class="inner-img" src="./assets/imgs/booking.png" alt="booking" loading="lazy">-->
<!--      </ion-col>-->
<!--      <ion-col class="deal-info-wrapper ion-activatable" size="8">-->
<!--        <ion-ripple-effect></ion-ripple-effect>-->
        <p class="ion-text-md-center"> Privacy Policy </p>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
