<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personal-taxes"></ion-back-button>
    </ion-buttons>
    <ion-title>EXISTING CLIENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <!-- <h3>
    GLOBAL TAX CORPORATION
  </h3> -->
  <form [formGroup]="signupForm" (ngSubmit)="sendMessage()">
    <ion-list class="inputs-list" lines="full">

      <ion-item class="input-item">
        <ion-input type="text" placeholder="First Name" formControlName="fname" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.fname">
          <div class="error-message" *ngIf="signupForm.get('fname').hasError(validation.type) && (signupForm.get('fname').dirty || signupForm.get('fname').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Last Name" formControlName="lname" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.lname">
          <div class="error-message" *ngIf="signupForm.get('lname').hasError(validation.type) && (signupForm.get('lname').dirty || signupForm.get('lname').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="email" placeholder="Email*" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="phone" placeholder="Phone*" formControlName="phone" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message" *ngIf="signupForm.get('phone').hasError(validation.type) && (signupForm.get('phone').dirty || signupForm.get('phone').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Company" formControlName="company" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.company">
          <div class="error-message" *ngIf="signupForm.get('company').hasError(validation.type) && (signupForm.get('company').dirty || signupForm.get('company').touched)">

            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="GST number (optional)" formControlName="gstnumber" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.gstnumber">
          <div class="error-message" *ngIf="signupForm.get('gstnumber').hasError(validation.type) && (signupForm.get('gstnumber').dirty || signupForm.get('gstnumber').touched)">

            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-textarea placeholder="Write your message here.*"  formControlName="msg" [autoGrow]="true"></ion-textarea>
        <!-- <ion-input type="text" placeholder="Company" formControlName="company" clearInput autocapitalize="off" inputmode="phone"></ion-input> -->
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.msg">
          <div class="error-message" *ngIf="signupForm.get('msg').hasError(validation.type) && (signupForm.get('msg').dirty || signupForm.get('msg').touched)">

            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <!-- <ion-item class="input-item"> -->
      <!-- <ion-textarea placeholder="Write your message here." [autoGrow]="true"></ion-textarea> -->
      <!-- <ion-input type="file" placeholder="Company" ></ion-input> -->
      <app-multi-file-upload></app-multi-file-upload>

      <!-- </ion-item> -->

      <!--<div formGroupName="matching_passwords">
        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">

<ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

         <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input type="password" placeholder="Confirm Password" formControlName="confirm_password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>-->
      <!-- <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="signupForm.get('matching_passwords').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div> -->
    </ion-list>

    <ion-button class="signup-btn" type="submit" expand="block">Send Message</ion-button>
    <!-- <ion-row class="other-auth-options-row">
      <ion-button class="login-btn" fill="clear" [routerLink]="['/sign-in']">

      </ion-button>
    </ion-row> -->
  </form>

</ion-content>
